
@media screen and (max-width: 700px) {
    #page, .hr, #wrapper, #headerimg, #header-overlay  { width: 100%; }
    #header-image img { max-width: 100%; }
    .hr { box-sizing: border-box; }
    #sidebar { width: 90%; }
    #sidebar h3 { font-size: 1.85em; }
    #sidebar li { padding: 1em; font-size: 1.15em; }
    #content { font-size: 1.15em; max-width:  95%; width: unset; }
    .postmetadata { margin: 0.85em 8px; display: block; }
    #footer { padding: 0.15em 1em; font-size: 1.15em; line-height: 3em; }
    #searchform input { font-size: 1.35em; }
	#header-overlay { height: 72px; }
	#content p, .entrytext { line-height: 2em; }
	textarea#comment { width: 100%; }

	/* dokuwiki specific */
	.breadcrumbs { font-size: 1.15em; }
	.page button { margin: 12px 8px; padding: 8px; }
	.page li { margin: 1.15em 1.85em; }
}

