/* user changable site width */
#wrapper, div.hr, #headerimg, #header-overlay, #headerimg { width: 100%; }
#wrapper, #header-overlay { background-size: contain; }
#header-image { text-align: center; }
#header-overlay { background-position-x: center; }

#dw__search button { display: none; }
input::placeholder { color: #999999; opacity: 1; }
#dw__search { margin-top: 24px; display: block; }
#dw__search .no { display: unset; }
input#qsearch__in { width: 160px; }
.notify:nth-child(4) {
	/*background-color: orange !important;*/
	margin-top: 16px;
}

.notify { 
	border-radius: 0px !important; 
	background-color: __background_alt__ !important;
	color: __text_alt__ !important;
	border: 0px !important;
}


#dw__search {
	background: #22201d;
	padding: 10px;
	text-align: center;
}

#header { text-align: center; }
#header h1, #header h2, #header h3, 
#header h4, #header h5, #header h6 {
	line-height: 13px;
}

#writtensidebar li a { background-image: none; padding-left: 0px; }

#writtensidebar h1 {
	color: #bd934f;
	margin: 15px 0 5px;
	font-variant: small-caps;
	font-size: 12px;
	float:  none;
	text-transform: capitalize;
	padding: 0px;
}

#writtensidebar h1::before, #writtensidebar h1::after {
	content: unset;
	color: #444;
}

.page h1 {
	display: block;
	padding: 13px 10px;
	background: #1b1814;
	margin: 0 0 15px;
	border-bottom: 1px solid #35302a;
	font-size: 1.75em;
	margin: 0 0 10px;
}

.entrytext { padding: 0px; }
button { background-color:  #22201d; color: #d8d7d3; border: 0px; padding: 3px; }
.breadcrumbs { margin: 1.35em 0px; }

#mediamanager__page .file { width: 100%; clear: both; }

.dokuwiki .tabs > ul li a:hover, .dokuwiki .tabs > ul li a:active, .dokuwiki .tabs > ul li a:focus, .dokuwiki .tabs > ul li .curid a, .dokuwiki .tabs > ul .active a, .dokuwiki ul.tabs li a:hover, .dokuwiki ul.tabs li a:active, .dokuwiki ul.tabs li a:focus, .dokuwiki ul.tabs li.active a, .dokuwiki ul.tabs li strong 
, #mediamanager__page .namespaces h2
{
	color: #d8d7d3;
}

#mediamanager__page .filelist .thumbs li {
	background-color: #22201d;
	color:  #777777;
}

#mediamanager__page .file dl dd { background-color: unset; }
button.toolbutton { background-color: #E3E1DE; }
.page button { margin: 3px; padding: 3px; }
#dw__editform textarea { font-size: 1.15em; }
#config__manager fieldset { color: unset;  }


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 50%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
    width: unset;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}


/* media manager and config manager for mobile */
/*@media screen and (max-width: 480px){*/
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }

/* #mediamanager__page .namespaces { min-width: unset; } */

  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 75%;  }
  #config__manager fieldset {  margin: 1em 0px; width: 100%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  fieldset { width: unset; }
  #config__manager fieldset td.value { width: unset; }
  td.label { word-wrap: anywhere; }

  #config__manager fieldset td { display: grid; }
  #config__manager fieldset td.label { width: 75%; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }
/*}*/
